*

# Track key files
!base_model_lightgcn_with_feature_aware_embedding_Initialization_and_feature_aware_message_passing.py
!base_model_lightgcn_with_feature_aware_embedding_Initialization_and_feature_aware_message_passing.txt
!data_object.pt
!dataset_stats.json
!playlist_info.json
!song_info.json
!spotify_mpd_audio_features.db

# Also track checkpoint file
!feature_aware_lightgcn_checkpoint.pt
!.gitignore
